<% @user.errors.full_messages.each do |msg| %>
  <div class="alert alert-danger"><%= msg %></div><br/>
<% end %>

    <%= bootstrap_form_for(@user, html: { class: 'form-horizontal' }) do |f| %>
      <%= f.email_field :email %>
      <%= f.phone_field :sms_number, label: "Phone number (US numbers only)" %>
      <%= f.password_field :password %>
      <%= f.password_field :password_confirmation %>
      <br/>
      <%= f.submit "Sign Up", class: "btn btn-primary btn-lg" %>
    <% end %>
