<% @alert.errors.full_messages.each do |msg| %>
  <div class="alert alert-danger"><%= msg %></div><br/>
<% end %>
<%= form_for @alert do |f| %>
  <div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name %><br/>
  <%= f.label :feed_username %>
  <%= f.text_field :feed_username %><br/>
  </div>
  <div class="form-group">
  <label class="checkbox-inline">
  <%= f.label :email_enabled %>
  <%= f.check_box :email_enabled %><br/>
  </label>
  <label class="checkbox-inline">
  <%= f.label "Text Enabled" %>
  <%= f.check_box :sms_enabled %><br/>
  </label></br>
  </div>
  <div class="form-group">
    <%= f.fields_for :keywords do |builder| %>
      <%= render 'keyword_fields', f: builder %>
    <% end %>
  <%= link_to_add_fields "Add Keyword", f, :keywords %><br/>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

